<ion-content>
  <ion-text class="ion-text-center title">
    <h3>Bienvenue <br/> <span class="voyageur">Voyageur</span></h3>
  </ion-text>

  <form #form="ngForm" (ngSubmit)="login(form)">

    <ion-item>
      <ion-input name="email" type="email" placeholder="voyageur@email.com" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="password" type="password" placeholder="Mot de passe" ngModel required></ion-input>
    </ion-item>
    <div>
      <ion-button color="secondary" size="large" type="submit" [disabled]="form.invalid" expand="block">Voyager</ion-button>
    </div>
    <ion-text class="ion-text-center">
      <p><a routerLink='/forget_password'>Mot de passe oublié ?</a></p>
    </ion-text>
  </form>

  <ion-text class="ion-text-center">
    <p>Vous n'avez pas encore de compte ?  <br/>
      <a routerLink='/register'>Enregistrez vous</a>
    </p>
  </ion-text>
  
</ion-content>