.voyageur{
    color: var(--ion-color-secondary);
    font-weight: 700;
    font-size: 42px;
}

.title h3{
    margin-top: 15%;
}

form {
    margin-top: 30px;
    padding: 20px; 
}

a{
    color: var(--ion-color-secondary);
}