<ion-content color="primary" padding>
  <p>Veuillez saisir une adresse email valide pour vous envoyez un nouveau mot de passe</p>
  <form #form="ngForm" (ngSubmit)="sendPassword(form)">
      <ion-grid>
        <ion-item>
          <ion-input name="email" type="email" placeholder="votre@email.fr" ngModel required></ion-input>
        </ion-item>
        <div padding>
          <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
        </div>
      </ion-grid>
  </form>
</ion-content>
