<ion-content class="ion-padding">
  <ion-text>
    <h3>Mot de passe oublié</h3>
    <p>Veuillez saisir une adresse email valide pour vous envoyez un nouveau mot de passe</p>
  </ion-text>
  <form #form="ngForm" (ngSubmit)="sendPassword(form)">
      <ion-grid>
        <ion-item>
          <ion-input name="email" type="email" placeholder="voyageur@email.fr" ngModel required></ion-input>
        </ion-item>
        <div>
          <ion-button color="secondary" size="large" type="submit" [disabled]="form.invalid" expand="block">Changer le mot de passe</ion-button>
        </div>
      </ion-grid>
  </form>

  <ion-text color="primary">
    <p>
      <a routerLink='/LOGIN'>Retour</a>
    </p>
  </ion-text>
</ion-content>
