<ion-content class="ion-padding">
  <ion-text>
    <h3>Créer votre compte</h3>
  </ion-text>
  <form #form="ngForm" (ngSubmit)="register(form)">
    <ion-item>
      <ion-input  name="name" type="text" placeholder="Name" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="confirm" type="password" placeholder="Password again" ngModel required></ion-input>
    </ion-item>

  </form>

  <ion-text color="primary" class="ion-text-center">
    <p>
      <a routerLink='/login'>Retour</a>
    </p>
  </ion-text>
</ion-content>
