<ion-header>
  <ion-toolbar>

    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="locations"></ion-back-button>
    </ion-buttons>

    <ion-title>Ajouter une location</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content color="primary" padding>
  <form #form="ngForm" (ngSubmit)="createLocation(form)">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Nom</ion-label>
            <ion-input ngModel name="name" type="text" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea ngModel name="description" auto-grow required></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Image</ion-label>
            <ion-input ngModel name="file" type="file" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Longitude</ion-label>
            <ion-input ngModel name="longitude" type="text" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Latitude</ion-label>
            <ion-input ngModel name="latitude" type="text" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button color="secondary" size="large" type="submit" [disabled]="form.invalid" expand="block">Create</ion-button>
  </form>
</ion-content>
