<ion-header>
  <ion-toolbar>

    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="locations"></ion-back-button>
    </ion-buttons>

    <ion-title>Create location</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content color="primary" padding>
  <form #form="ngForm" (ngSubmit)="createLocation(form)">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Floating Label</ion-label>
            <ion-input name="name" type="text" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
