<ion-app>
  <ion-menu contentId="main-content" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title color="secondary">Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let page of pages; last as isLast">
          <ion-item *ngIf="!isLast && page.name !== 'Settings'" [routerLink]="page.path" routerDirection="root" [class.active-menu]="activePath === page.path">
            <ion-label>{{page.name}}</ion-label>
          </ion-item>
          <ion-item *ngIf="page.name == 'Settings'" [routerLink]="page.path" routerDirection="root" [class.active-menu]="activePath === page.path">
            <ion-icon color="secondary" slot="start" name="settings-outline"></ion-icon>
            <ion-label>{{page.name}}</ion-label>
          </ion-item>
          <ion-item *ngIf="page.name == 'Logout'" (click)="logout()">
            <ion-icon color="secondary" slot="start" name="exit-outline"></ion-icon>
            <ion-label>{{page.name}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content" main></ion-router-outlet>

</ion-app>